<ion-content class="registration-container">
  <div class="container">
    <div class="form-container">
      <form>
        <h2>Registro</h2>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" (click)="goToLogin()"
          >Registrarse</ion-button
        >
      </form>
    </div>
  </div>
</ion-content>
