<div class="login-container">
  <div class="login-box">
    <h2>Iniciar sesión</h2>
    <form>
      <input type="email" placeholder="Correo electrónico" required />
      <input type="password" placeholder="Contraseña" required />
      <button type="submit" (click)="goToMain()">Iniciar sesión</button>
    </form>
    <div class="options">
      <a href="#" [routerLink]="['/registro']">Registro</a>
      <a href="#" [routerLink]="['/olvido-contrasena']">Olvidé mi contraseña</a>
    </div>
  </div>
</div>
