.parking-card:hover {
  transform: translateY(-5px);
}
/* ion-content.custom-background {
  --ion-background-color: rgba(15, 9, 44, 0.979);
} */

.parking-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
}

ion-card-title {
  font-weight: bold;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.main-container {
  background: url("../../../assets/img/Parking.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
